body {
    background-color: rgba(234, 255, 124, 0.62);
}

.field {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.field canvas {
    border: 3px solid black;
}

.gameSetting {
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.gameSetting button {
    margin-top: 20px;
}

.gameSetting div {
    margin-left: 5px;
}

.message {
    height: 20px;
    margin-top: 5px;
    color: #ff0600;
}

.message ul {
    list-style: none;
}

.message li {
    margin-right: 10px;
    display: inline;
}

.victim {
    margin-left: 20px;
    background-color: black;
    width: 30px;
    height: 30px;
}

.predator {
    margin-left: 20px;
    background-color: red;
    width: 30px;
    height: 30px;
}

.story {
    margin-top: 20px;
    text-align: center;
}

.information {
    margin-left: 10px;
    display: inline-block;
}

.rangeDensity {
    width: 300px;
}

.result {
    font-size: 30px;
    height: 30px;
}